<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^objects/batch$ api.php [L]
  RewriteRule ^objects/(.*)$ storage.php [L]
</IfModule>

<Files ~ "^.lfs-server-passwd$">
  Deny from all
</Files>
